{% extends "base.html"%}

{% block page_content %}
{% if session.logged_in %}
	<form action="{{ url_for('add_blog') }}" method="post" class="add-entry">
		<dl>
			<dt>Title
			<dd><input name="title" type="text" size="30" >
			<dt>Content
			<dd><textarea name="content" rows="5" cols="40"></textarea>
			<dd> <input type="submit" value="Share"> 
		</dl>
	</form>
{% endif %}

<ul class="entries">
{% for entry in entries %}
	<li><h2>{{ entry.title }}</h2>{{ entry.content|safe }}</li>
	<span>{{ entry.pub_date}}</span>
{% else %}
	<li><em>no one blog !!!</em></li>
{% endfor %}
</ul>
{% endblock%}
